# This service is actually a systemd target,
# but we are using a service since targets cannot be reloaded.

[Unit]
Description=OpenVPN service (headless)
After=network.target

[Service]
User=root
Type=simple
RemainAfterExit=yes
ExecStart=/bin/screen -dm -S openvpn sudo openvpn --config {{ openvpn.config }}
ExecStop=/bin/bash killall openvpn
ExecReload=/bin/true
WorkingDirectory=/etc/openvpn

[Install]
WantedBy=multi-user.target