[General]
my-location-countrycode=CAN
my-location-latitude=49.3512
my-location-longitude=-79.784
settingVersion=6

[config]
configDir=/home/{{ username }}/.local/share/VPNetworkLLC/TorGuard/configs
last-check=19.12.2020 00:51:17
md5sum=7cb7f8a61439e9da4451861196508afe
version=333

[connect]
OpenVPN24-cipher=AES-128-GCM
OpenVPN24-ports\1\port=80
OpenVPN24-ports\10\port=1215
OpenVPN24-ports\11\port=389
OpenVPN24-ports\2\port=443
OpenVPN24-ports\3\port=995
OpenVPN24-ports\4\port=1912
OpenVPN24-ports\5\port=1195
OpenVPN24-ports\6\port=53
OpenVPN24-ports\7\port=9201
OpenVPN24-ports\8\port=501
OpenVPN24-ports\9\port=1198
OpenVPN24-ports\size=11
OpenVPN24-protocol=UDP
OpenVPN24-stunnel=false
protocol-openconnect=TCP
serverSite=CAN-Toronto
tunnelType=OpenVPN

[dns]
current-dns-stack=start, beforeConnect, afterConnect
custom-dns\size=0
dns-action-afterconnect\dnslistentry-dns1=
dns-action-afterconnect\dnslistentry-dns2=
dns-action-afterconnect\dnslistentry-iseditable=true
dns-action-afterconnect\dnslistentry-name=
dns-action-afterconnect\dnspreference=DNS_PREFERENCE_PUSHED
dns-action-beforeconnect\dnslistentry-dns1=
dns-action-beforeconnect\dnslistentry-dns2=
dns-action-beforeconnect\dnslistentry-iseditable=true
dns-action-beforeconnect\dnslistentry-name=
dns-action-beforeconnect\dnspreference=DNS_PREFERENCE_NONE
dns-action-onstart\dnslistentry-dns1=
dns-action-onstart\dnslistentry-dns2=
dns-action-onstart\dnslistentry-iseditable=true
dns-action-onstart\dnslistentry-name=
dns-action-onstart\dnspreference=DNS_PREFERENCE_NONE
recover-dns-stack-on-connect=autoRecover

[lifecycle]
installId=0654e06c-67d9-401d-9928-15247f0bcaba

[preferences]
accessibility-enabled=false
arm-killswitch-after-first-connection=true
auto-connect-on-startup=true
auto-login-on-connect=true
block-internet-when-not-connected=true
close-to-tray=false
display-cipher-warning=true
display-notifications=true
enable-interfaces-on-connect=enable
execute-external-scripts=false
firewall-blocking=true
hide-from-dock=false
internet-kill-switch=false
logHandlerOption=None
lookup-hostname-before-connecting=false
manage-routes-in-house=true
minimize-on-connect=false
minimize-to-tray=false
mtu-type=default-mtu-from-config
mtu-value=0
path-to-after-connect-script=
path-to-after-disconnect-script=
path-to-before-connect-script=
pixel-ratio-toggle=false
prevent-ipv6-leak=true
prevent-web-rtc-leak=true
processes-to-kill=@Invalid()
proxy-settings=DIRECT
refresh-local-dns-cache=true
remember-window-geometry=false
remove-internet-kill-switch-on-close=false
serversitesorder=Custom First
settings-dialog-current-tab-index=3
showLogToFileWarning=true
start-minimized=false
stillActiveWarningEnable=true
terminate-processes-on-disconnect=false
tls-minimum-version=1.3
tray-icon-enabled=false
wireGuard-enabled=true

[saved-resolv-conf]
afterConnect\is-symlink=true
afterConnect\symlink-target=../run/systemd/resolve/stub-resolv.conf
beforeConnect\is-symlink=true
beforeConnect\symlink-target=../run/systemd/resolve/stub-resolv.conf
start\is-symlink=true
start\symlink-target=../run/systemd/resolve/stub-resolv.conf

[server-sites]
dedicated-ip\size=0